.card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(255, 255, 255),
    rgba(255, 255, 255, 0.8)
  );
  height: 400px;
  width: 700px;
  margin-left: 200px;
  border: 1px solid black;
  border-radius: 1rem;
}
.top {
  height: 60px;
  background-color: #ffeb34;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  color: black;
  font-size: 30px;
  font-weight: 700;
  word-spacing: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.top span {
  margin-left: 50px;
}
.radio-option {
  display: flex;
  flex-direction: row;

  margin-right: 20px;
}
.option-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.option-form label {
  word-spacing: normal;
  font-size: 10px;
  font-weight: 700;
}
.top-option {
  display: flex;
  flex-direction: row;
}
.radio-option {
  display: flex;
  flex: 4;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.dropdown {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputtag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  cursor: pointer;
}
.labeltag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  gap: 0.5rem;
}
select,
option {
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.search-btn {
  /* background-color: red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.search-btn button {
  width: 600px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #29abe2;
  font-weight: bolder;
  font-size: 16px;
  color: white;
}
