.first-page {
  display: flex;
  /* position: relative; */
  margin-left: 1%;
  width: 95vw;
  height: 100vh;
  margin-top: 3px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
      center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.left-page {
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 43px;
  margin-top: 10%;
}
.right-page {
  display: flex;
  width: 100vh;
  padding: 1rem 2rem;
  height: 100vh;
  flex: 2;
}
.left-head {
  font-size: 30px;
  font-family: Titillium Web;
  font-weight: 600;
  display: flex;
  color: cyan;
}
.left-span {
  font-size: 23px;
  color: wheat;
}
