.four {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
}
.four-left {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3px;
  flex: 1;
}
.four-left img {
  border: none;
  border-radius: 15px;
  height: 95vh;
}
.four-right {
  /* background-color: purple; */
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 40px;
  /* justify-content: start; */
}
.head {
  margin-bottom: 20px;
  margin-top: 60px;
  color: #83ceee;
  font-weight: 500;
}
.para {
  margin-bottom: 20px;
  width: 60%;
  color: #000000;
  font-weight: 600;
}
.spara {
  width: 40%;
  text-align: left;
  color: #606060;
}
.right-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30vw;
  height: 15vh;
}
.bottom-img img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  /* margin-right: 40px; */
}
.bottom-img {
  flex: 1;
  /* background-color: teal; */
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  margin-right: 20px;
}

.bottom-para {
  flex: 2;
  width: 10px;
  display: flex;
  align-items: center;
  height: 20%;
  /* background-color: red; */
}
