.sidebar {
  height: 80vh;
  background-color: #fff;
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin: 3px;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 1rem 2rem;
}
.menu-name {
  width: 13px;
}
.sidebar li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  gap: 1rem;
  cursor: pointer;
}

/* .icon {
  margin: 20px;
} */
h2:hover {
  margin-left: 20px;
}
.side-menu {
  /* width: 50px; */
  gap: 2rem;
  margin-right: 5px;
}
.side-menu > h2 {
  /* display: none; */
  /* width: 50px; */
}
