.sidebar {
  height: 100vh;
  background-color: white;
  display: flex;
  /* width: 70px; */
  align-items: flex-start;
  margin: 0px;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  padding-left: 10px;
  z-index: 3;
  position: fixed;
}
.menu-name {
  width: 10px;
}
.menu-name h2 {
  font-size: 20px;
  font-weight: 400;
}
.sidebar li {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  gap: 1rem;
  cursor: pointer;
}

/* .icon {
  margin: 20px;
} */

.side-menu {
  /* width: 50px; */
  gap: 2rem;
  margin-right: 5px;
}
